[submodule "generator/Vulkan-Headers"]
	path = generator/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	update = none
[submodule "generator/ash-release"]
	path = generator/ash-release
	url = https://github.com/ash-rs/ash.git
	update = none