#[derive(Clone, Copy, PartialEq, Eq, PartialOrd, Ord, Hash, Default)]
#[repr(transparent)]
pub struct {{name}}(pub(crate) i32);
impl {{name}} {
    pub const fn from_raw(x: i32) -> Self {
        {{name}}(x)
    }
    pub const fn as_raw(self) -> i32 {
        self.0
    }
}
