[package]
name = "ash"
version = "0.20.3"
authors = ["maik klein <maikklein@googlemail.com>"]
description = "Vulkan bindings for Rust"
license = "MIT"
repository = "https://github.com/MaikKlein/ash"
readme = "../README.md"
keywords = ["vulkan", "graphic"]
documentation = "https://docs.rs/ash"

[dependencies]
shared_library = "0.1.5"
lazy_static = "0.2.1"
libc = "0.2.26"

[features]
default = []

[package.metadata.release]
no-dev-version = true
